<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="flex flex-col items-center w-full max-w-md mx-auto  bg-white shadow-lg rounded-lg p-6 py-2">

  <div class="w-full">
    <div class="py-2 w-full">
      <h1 class="text-2xl font-semibold flex items-center">
        <span class="material-symbols-outlined mr-2">
          login
        </span>
        เข้าสู่ระบบ
      </h1>
    </div>
    <div class="py-2 w-full">
      <p class="text-base "> 
        เข้าสู่ระบบด้วยอีเมลและรหัสผ่าน
      </p>
    </div>
    <div class="py-2 flex justify-end ">
      <span class="text-sm text-blue-600">โปรดระบุ *</span>
    </div>
    <%= form_with url: sign_in_path, class: "space-y-4", data: { controller: "password-toggle" } do |form| %>
      <div class="space-y-1">
        <div class="flex items-center">
          <%= form.label :email, "อีเมล", class: "block text-base font-medium" %>
          &nbsp;
          <span class="text-base text-blue-600 ml-1">*</span>
        </div>
        <div class="relative">
          <%= form.text_field :email, 
              class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
              placeholder: "กรุณากรอกอีเมลที่ใช้งาน" %>
        </div>
      </div>

      <div class="space-y-1">
        <div class="flex items-center">
          <%= form.label :password, "รหัสผ่าน", class: "block text-base font-medium" %>
          &nbsp;
          <span class="text-base text-blue-600 ml-1">*</span>
        </div>
        <div class="relative">
          <%= form.password_field :password,
              class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
              placeholder: "กรุณากรอกรหัสผ่าน",
              data: { password_toggle_target: "password" } %>
        </div>
          <p class="text-sm text-gray-500 mt-1">
            รหัสผ่านต้องมีตัวอักษรระหว่าง 8-16 ตัวอักษรและประกอบด้วยตัวอักษรและตัวเลข สามารถใช้สัญลักษณ์เหล่านี้ได้เท่านั้น !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
          </p>
      </div>

      <div class="flex items-center space-x-2 mt-4">
        <div class="flex items-center">
          <%= form.check_box :show_password,
              class: "h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded",
              data: {
                password_toggle_target: "checkbox",
                action: "change->password-toggle#togglePassword"
              } %>
          <%= form.label :show_password, "แสดงรหัสผ่าน", class: "ml-2 block text-sm" %>
        </div>
      </div>

      <div class="mt-8">
          <%= link_to "ลืมรหัสผ่าน", password_reset_path, class: "text-base underline decoration-2" %>
      </div>

      <div class="mt-8">
        <%= form.submit "เข้าสู่ระบบ",
            class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      </div>
    <% end %>
    <div class="mt-4">
      <p class="text-sm">
        ยังไม่มีบัญชี? 
        <%= link_to "สร้างบัญชีใหม่", sign_up_path, class: "text-blue-600 hover:text-blue-800" %>
      </p>
    </div>
  </div>
</div>