<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="flex flex-col items-center w-full max-w-md mx-auto bg-white shadow-lg rounded-lg p-6 py-2">

  <div class="w-full">
    <div class="py-2 w-full">
      <h1 class="text-2xl font-semibold flex items-center text-black">
        <span class="material-symbols-outlined mr-2">
          person_add
        </span>
        สร้างบัญชีผู้ใช้ใหม่
      </h1>
    </div>
      <div class="py-2 w-full">
        <p class="text-black text-base "> 
          ขอบคุณสำหรับการลงทะเบียน
        </p>
      </div> 

      <% content_for :users do %>
        <%= render "bottom/button/users" %>
      <% end %>

      <% content_for :home_page do %>
        <%= render "bottom/button/home_page" %>
      <% end %>

      <% content_for :beer_odds do %>
        <%= render "bottom/button/beer_odds" %>
      <% end %>

      <% content_for :add_address do %>
        <%= render "bottom/button/add_address" %>
      <% end %>

      <% content_for :add_qr_code do %>
        <%= render "bottom/button/add_qr_code" %>
      <% end %>
      
  </div>
</div>