<div class="flex flex-col items-center w-full max-w-md mx-auto bg-white shadow-lg rounded-lg p-6 py-2">

  <div class="w-full">
    <div class="py-2 w-full">
      <h1 class="text-2xl font-semibold flex items-center" data: { testid: "create-user-title" }>
        <span class="mr-2">
          👤
        </span>
        สร้างบัญชีผู้ใช้ใหม่
      </h1>
    </div>
    <div class="py-2 flex justify-end">
      <span class="text-sm text-blue-600">โปรดระบุ *</span>
    </div>
    
    <%= form_with model: @user, url: sign_up_path, class: "space-y-4", data: { controller: "password-toggle" } do |form| %>
      <% if form.object.errors.any? %>
        <div class="bg-red-100 text-sm text-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">เกิดข้อผิดพลาด!</strong>
          <ul class="mt-1">
            <% form.object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="space-y-1">
        <div class="flex items-center">
          <%= form.label :email, "อีเมล", class: "block text-base font-medium ",
          data: { testid: "email-signup-label" } %>
          &nbsp;
          <span class="text-base text-blue-600 ml-1">*</span>
        </div>
        <div class="relative">
          <%= form.text_field :email, 
              class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
              placeholder: "กรุณากรอกอีเมลที่ใช้งาน",
              data: { testid: "email-signup-input" } %>
        </div>
      </div>

      <div class="space-y-1">
        <div class="flex items-center">
          <%= form.label :password, "รหัสผ่าน", class: "block text-base font-medium",
          data: { testid: "password-signup-label" } %>
          &nbsp;
          <span class="text-base text-blue-600 ml-1">*</span>
        </div>
        <div class="relative">
          <%= form.password_field :password,
              class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
              placeholder: "กรุณากรอกรหัสผ่าน",
              data: { password_toggle_target: "password",
              testid: "password-signup-input" } %>
        </div>
        <p class="text-sm text-gray-500 mt-1">
          รหัสผ่านต้องมีตัวอักษรระหว่าง 8-16 ตัวอักษรและประกอบด้วยตัวอักษรและตัวเลข สามารถใช้สัญลักษณ์เหล่านี้ได้เท่านั้น !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
        </p>
      </div>

      <div class="space-y-1">
        <div class="flex items-center">
          <%= form.label :password_confirmation, "ยืนยันรหัสผ่าน", class: "block text-base font-medium",
          data: { testid: "password-confirmation-signup-label" } %>
          &nbsp;
          <span class="text-base text-blue-600 ml-1">*</span>
        </div>
        <div class="relative">
          <%= form.password_field :password_confirmation,
              class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent",
              placeholder: "กรุณากรอกรหัสผ่าน",
              data: { password_toggle_target: "password",
              testid: "confirm-password-signup-input" } %>
        </div>
        <p class="text-sm text-gray-500 mt-1">
          รหัสผ่านต้องมีตัวอักษรระหว่าง 8-16 ตัวอักษรและประกอบด้วยตัวอักษรและตัวเลข สามารถใช้สัญลักษณ์เหล่านี้ได้เท่านั้น !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
        </p>
      </div>

      <div class="flex items-center space-x-2 mt-4">
        <div class="flex items-center">
          <%= form.check_box :show_password,
              class: "h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded",
              data: {
                password_toggle_target: "checkbox",
                action: "change->password-toggle#togglePassword"
              } %>
          <%= form.label :show_password, "แสดงรหัสผ่าน", class: "ml-2 block text-sm",
          data: { testid: "show-password-signup-input" } %>
        </div>
      </div>

      <div class="mt-8">
        <%= form.submit "สร้างบัญชีผู้ใช้",
            class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500",
            data: { testid: "signup-button" } %>
      </div>
    <% end %>
  </div>
</div>
