<div class="flex flex-col items-center w-full max-w-md mx-auto rounded-lg">
  <div class="w-full flex justify-between items-center px-8 py-2">

    <% if @product.sold? %>
      <% if @product.user_id == Current.user.id %>
        <%= link_to root_path, class: "px-4 py-2 flex justify-center w-full" do %>
          <span class="bg-gray-200 hover:bg-gray-300 p-2 rounded-full inline-block text-sm">กลับไปหน้าสินค้า</span>
        <% end %>
        <%= link_to products_path, class: "px-4 py-2 flex justify-center w-full" do %>
          <span class="bg-blue-200 hover:bg-blue-300 p-2 rounded-full inline-block text-sm">กลับไปหน้าสินค้าตัวเอง</span>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "px-4 py-2 flex justify-center w-full" do %>
          <span class="bg-gray-200 hover:bg-gray-300 p-2 rounded-full inline-block text-sm">กลับไปหน้าสินค้า</span>
        <% end %>
      <% end %>
    <% elsif @product.user_id == Current.user.id %>
      <%= link_to root_path, class: "px-4 py-2 flex justify-center w-full" do %>
          <span class="bg-gray-200 hover:bg-gray-300 p-2 rounded-full inline-block text-sm">กลับไปหน้าสินค้า</span>
        <% end %>
      <%= link_to products_path, class: "px-4 py-2 flex justify-center w-full" do %>
        <span class="bg-blue-200 hover:bg-blue-300 p-2 rounded-full inline-block text-sm">กลับไปหน้าสินค้าตัวเอง</span>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "px-4 py-2 flex justify-center" do %>
        <span class="bg-gray-200 hover:bg-gray-300 p-2 rounded-full inline-block text-sm">เลือกสินค้าต่อ</span>
      <% end %>

      <%= link_to purchase_product_buy_nows_path(@product), class: "px-4 py-2 flex justify-center" do %>
        <span class="bg-blue-600 hover:bg-blue-700 p-3 rounded-full inline-block text-xl text-white">ซื้อเลย</span>
      <% end %>

      <%= link_to "#", class: "px-4 py-2 flex justify-center" do %>
        <span class="bg-gray-200 hover:bg-gray-300 p-2 rounded-full inline-block text-sm">เพิ่มลงในตะกร้า</span>
      <% end %>
    <% end %>

  </div>
</div>
