<% if @user %>
  <div class="bg-white rounded-lg p-4">
    <div class="flex justify-between items-center text-xl">
      <div>เบียร์ทั้งหมด: <span class="font-semibold text-blue-600 " data: { testid: "product-beer-total-beers" }><%= @total_beers %></span> แก้ว</div>
      <%= link_to check_out_beer_path, class: "py-2 flex items-center p-3 bg-red-50 rounded-md hover:bg-red-100 transition-colors", data: { testid: "product-beer-check-out-button", turbo_frame: "modal" } do %>
        <span>กดเติม 🍺 เลยครับ</span>
      <% end %>
    </div>
  </div>
<% end %>

  <div class="flex justify-between gap-8 mb-8">
    <div class="bg-white rounded-lg shadow-md", data: { testid: "product-beer-3-beers-link" }>
      <%= link_to new_buy_now_path(amount: 3), class: "block" do %>
      <%= image_tag "3gp.png", alt: "3 แก้ว", class: "w-full object-cover rounded-lg mb-4" %>
      <div class="text-center">
        <div class="text-xl font-semibold mb-1">3 แก้ว</div>
        <div class="text-lg">100 บาท</div>
      </div>
      <% end %>
    </div>

    <div class="bg-white rounded-lg shadow-md", data: { testid: "product-beer-6-beers-link" }>
      <%= link_to new_buy_now_path(amount: 6), class: "block" do %>
      <%= image_tag "6gp.png", alt: "6 แก้ว", class: "w-full object-cover rounded-lg mb-4" %>
      <div class="text-center">
        <div class="text-xl font-semibold mb-1">6 แก้ว</div>
        <div class="text-lg">200 บาท</div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="flex justify-center gap-8 mb-8">
    <div class="bg-white rounded-lg shadow-md", data: { testid: "product-beer-9-beers-link" }>
      <%= link_to new_buy_now_path(amount: 9), class: "block" do %>
      <%= image_tag "9gp.png", alt: "9 แก้ว", class: "w-full object-cover rounded-lg mb-4" %>
      <div class="text-center">
        <div class="text-xl font-semibold mb-1">9 แก้ว</div>
        <div class="text-lg">300 บาท</div>
      </div>
      <% end %>
    </div>

    <div class="bg-white rounded-lg shadow-md", data: { testid: "product-beer-12-beers-link" }>
      <%= link_to new_buy_now_path(amount: 12), class: "block" do %>
      <%= image_tag "12gp.png", alt: "12 แก้ว", class: "w-full object-cover rounded-lg mb-4" %>
      <div class="text-center">
        <div class="text-xl font-semibold mb-1">12 แก้ว</div>
        <div class="text-lg">400 บาท</div>
      </div>
      <% end %>
    </div>
  </div>
<%= turbo_frame_tag "modal" %>
