<%= link_to product, class: "block" do %>
  <div id="<%= dom_id product %>">
    <div class="w-46 h-80 flex flex-col justify-between">
      <div class="flex-1 flex items-center justify-center relative">
        <% if product.images.attached? %>
          <%= image_tag product.images.first, class: "w-full h-full object-cover rounded-lg #{'opacity-50' if product.sold?}" %>
          <% if product.sold? %>
            <%= image_tag "sold_out.svg", class: "absolute m-auto rotate-[-15deg] w-30 h-30 drop-shadow-lg" %>
          <% end %>
        <% else %>
          <div class="w-full h-full bg-gray-100 rounded-lg flex items-center justify-center">
            <span class="text-gray-400">ไม่มีรูปภาพ</span>
          </div>
        <% end %>
      </div>
      <div class="text-center mt-4">
        <div class="text-xl font-semibold line-clamp-3 <%= 'text-gray-500' if product.sold? %>">
          <%= product.name %>
        </div>
        <div class="text-lg">
          <% if product.sold? %>
            <span class="text-gray-400"><%= number_to_currency(product.price, unit: "", precision: 0) %> บาท</span>
          <% else %>
            <span><%= number_to_currency(product.price, unit: "", precision: 0) %> บาท</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>